{% extends 'base.html' %}

{% block content %}

        <div class="left-ads-display col-lg-8">
        <div class="row">
            <div class="desc1-left col-md-6">
                <img src="{{ actor.image.url }}" class="img-fluid" alt="Responsive image">
            </div>
            <div class="desc1-right col-md-6 pl-lg-4">
                <h3>
                    {{ movie.title }}
                </h3>
                <ul>
                    <li>
                        <div>
                            <b>Возраст:</b> {{ actor.age }} лет
                        </div>
                    </li>
                    <li>
                        <div><b>Режиссер:</b>
                            {% for movie in actor.film_director.all %}
                                {{ movie.title }}
                            {% endfor %}
                        </div>
                    </li>
                    <li><div><b>Актер:</b>
                        {% for movie in actor.film_actor.all %}
                            {{ movie.title }}
                        {% endfor %}
                    </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row sub-para-w3layouts mt-5">
            <h3>
                 {{ actor.name }}
            </h3>
            <p>
                {{ actor.description|safe }}
            </p>
        </div>
    </div>
<a href="#" onclick="goBack()">Назад</a>

<script>
function goBack() {
  window.history.back();
}
</script>

{% endblock %}